@page "/dashboard/account-detail"
@using MomAndBaby.BusinessObject.Enums
@using MomAndBaby.Service.Helper
@model MomAndBaby.Pages.Dashboard.Body.AccountDetailModel

@section Styles {
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/%40form-validation/form-validation.css" />
}


    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between mb-4 text-center text-sm-start gap-2">
    
    
        <div class="mb-2 mb-sm-0">
            <h4 class="mb-1">
                Customer ID:  @Model.User.Id
            </h4>
            <p class="mb-0">
                @Model.User.CreatedAt
            </p>
        <a asp-page="ListAccount" class="btn btn-primary ml-3" style="margin-top: 30px">Back to List Account</a>
        </div>

       @*  <form method="post">
        <button type="button" class="btn btn-label-danger delete-customer" style="margin-top: 50px" asp-route-id="@Model.User.Id" asp-page-handler="BanAccount">Ban Customer</button>
        </form> *@
        
    </div>


    <div class="row">
    <p style="color:darkgoldenrod; font-weight: 500; font-size: x-large;">@ViewData["Message"]</p>
        <!-- Customer-detail Sidebar -->
        <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
            <!-- Customer-detail Card -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="customer-avatar-section">
                        <div class="d-flex align-items-center flex-column">
                            
                            <div class="customer-info text-center">
                                <h4 class="mb-1">@Model.User.FullName</h4>
                                <small>@Model.User.Id</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around flex-wrap mt-4 py-3">
                        <div class="d-flex align-items-center gap-2">
                            <div class="avatar">
                                <div class="avatar-initial rounded bg-label-primary">
                                    <i class='bx bx-cart-alt bx-sm'></i>
                                </div>
                            </div>
                            <div>
                                <h5 class="mb-0">@Model.NumOfOrders</h5>
                                <span>Orders</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div class="avatar">
                                <div class="avatar-initial rounded bg-label-primary">
                                    <i class='bx bx-dollar bx-sm'></i>
                                </div>
                            </div>
                            <div>
                            <h5 class="mb-0">@((int)Model.TotalAmount)</h5>
                                <span>Spent</span>
                            </div>
                        </div>
                    </div>

                    <div class="info-container">
                        <small class="d-block pt-4 border-top fw-normal text-uppercase text-muted my-3">DETAILS</small>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="fw-medium me-2">Username:</span>
                                <span>@Model.User.Username</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-medium me-2">Email:</span>
                                <span>@Model.User.Email</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-medium me-2">Role:</span>
                                <span>@Model.User.Role.Name</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-medium me-2">Status:</span>
                            @{
                                if (Model.User.Status.Equals(UserStatus.Active))
                                {
                                    <span class="badge bg-label-success">@Model.User.Status</span>
                                }
                                else if (Model.User.Status.Equals(UserStatus.Banned))
                                {
                                    <span class="badge badge-danger">@Model.User.Status</span>
                                }
                                else
                                {
                                    <span class="badge bg-label-warning">@Model.User.Status</span>
                                }

                            }
                                
                            </li>
                            <li class="mb-3">
                                <span class="fw-medium me-2">Contact:</span>
                                <span>@Model.User.PhoneNumber</span>
                            </li>

                            <li class="mb-3">
                                <span class="fw-medium me-2">Address:</span>
                                <span>@Model.User.Address</span>
                            </li>
                        </ul>
                       
                    </div>
                </div>
            </div>
            <!-- /Customer-detail Card -->
        </div>
        <!--/ Customer Sidebar -->
        <!-- Customer Content -->
        <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
            <!--/ Customer Pills -->
            <!-- Address accordion -->

            <div class="card card-action mb-4">
                <div class="card-header align-items-center flex-wrap gap-3 py-4">
                    <h5 class="card-action-title mb-0">Address Book</h5>
                    @* <div class="card-action-element">
                        <button class="btn btn-label-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewAddress">Add new address</button>
                    </div> *@
                </div>
                <div class="card-body">
                    <div class="accordion accordion-flush accordion-arrow-left" id="ecommerceBillingAccordionAddress">
                    @{
                        var count = 0;
                    }

                    @foreach(var item in Model.ShippingAddress)
                    {
                         <div class="accordion-item">
                            <div class="accordion-header d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap" id="headingHome">
                                <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#ecommerceBillingAddressHome" aria-expanded="false" aria-controls="headingHome" role="button">
                                    <span>
                                        <span class="d-flex gap-2 align-items-baseline">
                                            <span class="h6 mb-0">@(++count)</span>
                                            @* <span class="badge bg-label-success">Default Address</span> *@
                                        </span>
                                        <span class="mb-0 text-muted">@UserHelper.GetProvince(item)</span>
                                    </span>
                                </a>
                                
                            </div>
                            <div id="ecommerceBillingAddressHome" class="accordion-collapse collapse" data-bs-parent="#ecommerceBillingAccordionAddress">
                                <div class="accordion-body ps-4 ms-1">
                                   @*  <h6 class="mb-1">Violet Mendoza</h6> *@
                                    <p class="mb-1">@item</p>
                                  
                                </div>
                            </div>
                        </div>

                    
                    }
                   
                </div>
            </div>
            <!-- Address accordion -->
            

        </div>
        <!--/ Customer Content -->
    </div>


    



@section Scripts {
    <!-- Vendors JS -->
    <script src="~/ok/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/ok/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/ok/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/ok/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/ok/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/ok/assets/vendor/libs/%40form-validation/popular.js"></script>
    <script src="~/ok/assets/vendor/libs/%40form-validation/bootstrap5.js"></script>
    <script src="~/ok/assets/vendor/libs/%40form-validation/auto-focus.js"></script>

    <!-- Page JS -->
    <script src="~/ok/assets/js/modal-edit-user.js"></script>
    <script src="~/ok/assets/js/modal-edit-cc.js"></script>
    <script src="~/ok/assets/js/modal-add-new-cc.js"></script>
    <script src="~/ok/assets/js/modal-add-new-address.js"></script>
    <script src="~/ok/assets/js/app-ecommerce-customer-detail.js"></script>
}
