@page "/dashboard"
@model MomAndBaby.Pages.Dashboard.Body.DashboardModel
@using System.Text.Json;

@section Styles {
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/apex-charts/apex-charts.css" />
    
    <!-- Page CSS -->
    <link rel="stylesheet" href="~/ok/assets/vendor/css/pages/card-analytics.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}


<!-- Content wrapper -->
<!-- Card Border Shadow -->
<div class="row">
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-primary"><i class="fa-solid fa-user"></i></span>
                    </div>
                    <h4 class="ms-1 mb-0">42</h4>
                </div>
                <p class="mb-1">Total Users</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">+18.2%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-warning"><i class='tf-icons bx bx-book-open'></i></span>
                    </div>
                    <h4 class="ms-1 mb-0">8</h4>
                </div>
                <p class="mb-1">Total Orders</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">-8.7%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-danger h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-danger"><i class='tf-icons bx bx-cart-alt'></i></span>
                    </div>
                    <h4 class="ms-1 mb-0">27</h4>
                </div>
                <p class="mb-1">Total Products</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">+4.3%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card card-border-shadow-info h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-info"><i class="tf-icons bx bx-spreadsheet"></i></span>
                    </div>
                    <h4 class="ms-1 mb-0">13</h4>
                </div>
                <p class="mb-1">Total Posts</p>
                <p class="mb-0">
                    <span class="fw-medium me-1">-2.5%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
</div>
<!--/ Card Border Shadow -->
<!-- Total Income -->
<div class="row mb-4">
    <div class="card">
        <div class="row row-bordered g-0">
            <div class="col-md-8">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <h5 class="card-title mb-0">Total Income</h5>
                        <small class="card-subtitle title-chart">Total Year</small>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="totalIncome" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalIncome">
                            <a class="dropdown-item" href="javascript:void(0);" onclick="updateChart('totalyear')">Total year</a>
                            <a class="dropdown-item" href="javascript:void(0);" onclick="updateChart('thisyear')">This year</a>
                            <a class="dropdown-item" href="javascript:void(0);" onclick="updateChart('lastyear')">Last Year</a>
                            <a><input onchange="getTotalOrderByYear(this.value)" class="date-own form-control dropdown-item" style="width: 300px; cursor: pointer;" type="text" data-date-start-date="2020y" data-date-end-date="@(DateTime.Now.Year)y" placeholder="chosen year" readonly></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div id="totalIncomeCharts"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <h5 class="card-title mb-0">Report</h5>
                        <small class="card-subtitle">Monthly Avg. $45.578k</small>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="totalIncome" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalIncome">
                            <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="report-list">
                        <div class="report-list-item rounded-2 mb-3">
                            <div class="d-flex align-items-start">
                                <div class="report-list-icon shadow-sm me-2">
                                    <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/svg/icons/paypal-icon.svg" width="22" height="22" alt="Paypal">
                                </div>
                                <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                    <div class="d-flex flex-column">
                                        <span>Income</span>
                                        <h5 class="mb-0">$42,845</h5>
                                    </div>
                                    <small class="text-success">+2.34k</small>
                                </div>
                            </div>
                        </div>
                        <div class="report-list-item rounded-2 mb-3">
                            <div class="d-flex align-items-start">
                                <div class="report-list-icon shadow-sm me-2">
                                    <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/svg/icons/shopping-bag-icon.svg" width="22" height="22" alt="Shopping Bag">
                                </div>
                                <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                    <div class="d-flex flex-column">
                                        <span>Expense</span>
                                        <h5 class="mb-0">$38,658</h5>
                                    </div>
                                    <small class="text-danger">-1.15k</small>
                                </div>
                            </div>
                        </div>
                        <div class="report-list-item rounded-2">
                            <div class="d-flex align-items-start">
                                <div class="report-list-icon shadow-sm me-2">
                                    <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/svg/icons/wallet-icon.svg" width="22" height="22" alt="Wallet">
                                </div>
                                <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                    <div class="d-flex flex-column">
                                        <span>Profit</span>
                                        <h5 class="mb-0">$18,220</h5>
                                    </div>
                                    <small class="text-success">+1.35k</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Total Income -->
</div>
<!--/ Total Income -->
<div class="row">
    <div class="col-md-7 mb-4 mb-md-0">
        <div class="card">
            <div class="title">
                <h4 style="padding-left: 1rem; padding-top: 1rem;">Gifts</h4>
            </div>
            <div class="table-responsive text-nowrap" id="table-exchange-point">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Exchange Point</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-body table-border-bottom-0">
                        @foreach (var gift in Model.DashboardDTO.Gifts)
                        {
                            <tr>
                                <input type="hidden" name="Id" value="@gift.Id" />
                                <td data-bs-toggle="tooltip" data-bs-placement="top" title="@gift.Name"><span class="d-inline-block text-truncate" style="max-width: 180px;">@gift.Name</span></td>

                                <td>
                                    <div class="text-muted lh-1"><span class="text-primary fw-medium">@(gift.ExchangePoint)</span>Point</div>
                                    <small class="text-muted">@(gift.Stock) unit</small>
                                </td>
                                <td>
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot class="table__tfoot">
                        <tr>
                            <td colspan="8" class="tfooter">
                                <nav aria-label="..." style="float: right">
                                    <ul class="pagination pagination-sm">
                                    </ul>
                                </nav>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Total Balance -->
    <!-- Donut Chart -->
    <div class="col-md-5 mb-4">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <div>
                    <h5 class="card-title mb-0">Expense Ratio</h5>
                    <small class="text-muted">Spending on various categories</small>
                </div>
                <div class="dropdown d-none d-sm-flex">
                    <button type="button" class="btn dropdown-toggle px-0" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-calendar"></i></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a></li>
                        <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a></li>
                        <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 7 Days</a></li>
                        <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 30 Days</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Current Month</a></li>
                        <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div id="donutChart"></div>
            </div>
        </div>
    </div>
    <!-- /Donut Chart -->
    <!--/ Total Balance -->
</div>
<div class="row mt-4">
    <div class="col-md-12 mb-4 mb-md-0">
        <div class="card">
            <div class="title">
                <h4 style="padding-left: 1rem; padding-top: 1rem;">Vouchers</h4>
            </div>
            <div class="table-responsive text-nowrap" id="table-voucher">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>Created By</th>
                            <th>Code</th>
                            <th>Discount</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-body table-border-bottom-0">
                        @foreach (var voucher in Model.DashboardDTO.Vouchers)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-column">
                                            <span class="fw-medium lh-1">@voucher.CreatedByNavigation.FullName</span>
                                            <small class="text-muted">@voucher.CreatedByNavigation.Email</small>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="badge bg-label-primary rounded-pill badge-center p-3 me-2"></span> @voucher.Code</td>
                                <td>
                                    <div class="text-muted lh-1"><span class="text-primary fw-medium">@((int)voucher.Discount)</span>%</div>
                                    <small class="text-muted">@(voucher.Amount) unit</small>
                                </td>
                                <td>@voucher.StartDate.ToString("dd/MM/yyyy")</td>
                                <td>@voucher.EndDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="id" value="@voucher.Id" />
                                        <button type="submit" asp-page-handler="DeleteVoucher" class="btn p-0 "><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot class="table__tfoot">
                        <tr>
                            <td colspan="8" class="tfooter">
                                <nav aria-label="..." style="float: right">
                                    <ul class="pagination pagination-sm">
                                    </ul>
                                </nav>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Content wrapper -->

@section Scripts {
    
    <!-- Vendors JS -->
    <script src="~/ok/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Page JS -->
    <script src="~/ok/assets/js/app-ecommerce-dashboard.js"></script>

    <script src="~/js/data-chart.js" asp-append-version="true"></script>
    <script src="~/js/custom-table.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        productCategoryData = @Html.Raw(JsonSerializer.Serialize(Model.DashboardDTO.StatisticCategory, new JsonSerializerOptions() { PropertyNamingPolicy = JsonNamingPolicy.CamelCase }));

        document.addEventListener("DOMContentLoaded", () => {
            paginationTable(5, 'table-exchange-point');
            paginationTable(8, 'table-voucher');

            $('.date-own').datepicker({
                minViewMode: 2,
                format: 'yyyy'
            });

            totalYearData = @Html.Raw(JsonSerializer.Serialize(Model.DashboardDTO.TotalMoneys.ElementAt(0), new JsonSerializerOptions() { PropertyNamingPolicy = JsonNamingPolicy.CamelCase }));
            thisYearData = @Html.Raw(JsonSerializer.Serialize(Model.DashboardDTO.TotalMoneys.ElementAt(1), new JsonSerializerOptions() { PropertyNamingPolicy = JsonNamingPolicy.CamelCase }));
            lastYearData = @Html.Raw(JsonSerializer.Serialize(Model.DashboardDTO.TotalMoneys.ElementAt(2), new JsonSerializerOptions() { PropertyNamingPolicy = JsonNamingPolicy.CamelCase }));

        })

        

    </script>
}