@page "/dashboard/list-post"
@model MomAndBaby.Pages.Dashboard.Body.ListPostModel
@{
}


@section Styles {
	<link rel="stylesheet" href="~/data-table/data-table-2.css" asp-append-version="true">
	<link rel="stylesheet" href="~/ok/assets/vendor/libs/select2/select2.css">
}

<div class="card mb-4">
	<div class="card-widget-separator-wrapper">
		<div class="card-body card-widget-separator">
			<div class="row gy-4 gy-sm-1">
				<div class="col-sm-6 col-lg-3">
					<div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
						<div>
							<h3 class="mb-2">56</h3>
							<p class="mb-0">Pending Payment</p>
						</div>
						<div class="avatar me-sm-4">
							<span class="avatar-initial rounded bg-label-secondary">
								<i class="bx bx-calendar bx-sm"></i>
							</span>
						</div>
					</div>
					<hr class="d-none d-sm-block d-lg-none me-4">
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
						<div>
							<h3 class="mb-2">12,689</h3>
							<p class="mb-0">Completed</p>
						</div>
						<div class="avatar me-lg-4">
							<span class="avatar-initial rounded bg-label-secondary">
								<i class="bx bx-check-double bx-sm"></i>
							</span>
						</div>
					</div>
					<hr class="d-none d-sm-block d-lg-none">
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
						<div>
							<h3 class="mb-2">124</h3>
							<p class="mb-0">Refunded</p>
						</div>
						<div class="avatar me-sm-4">
							<span class="avatar-initial rounded bg-label-secondary">
								<i class="bx bx-wallet bx-sm"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="d-flex justify-content-between align-items-start">
						<div>
							<h3 class="mb-2">32</h3>
							<p class="mb-0">Failed</p>
						</div>
						<div class="avatar">
							<span class="avatar-initial rounded bg-label-secondary">
								<i class="bx bx-error-alt bx-sm"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="table" id="customers_table">
	<div class="row row--top-20">
		<div class="search-data col-md-6">
			<span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
			<input type="search" placeholder="Search Data...">
		</div>
		<div class="col-md-12">
			<div class="table-container">
				<table class="table">
					<thead class="table__thead">
						<tr>
							<th class="table__th">Title</th>
							<th class="table__th">Author</th>
							<th class="table__th">Created Date</th>
							<th class="table__th">Status</th>
							<th class="table__th">Action</th>
						</tr>
					</thead>
					<tbody class="table__tbody">
						@foreach (var article in Model.Articles)
						{
							<form method="post" style="display: inline;">
							<tr class="table-row table-row--chris">
								<td class="table-row__td">
										@* <div class="table-row__img"></div> *@
									<div class="table-row__info">
										<p class="table-row__name">@article.Title</p>
											@* <span class="table-row__small">CFO</span> *@
									</div>
								</td>
								<td data-column="Policy" class="table-row__td">
									<div class="">
										<p class="table-row__policy">@article.Author?.FullName</p>
											@* <span class="table-row__small">Basic Policy</span> *@
									</div>
								</td>
								<td data-column="Destination" class="table-row__td">
										@article.CreatedAt
								</td>
								<td data-column="Status" class="table-row__td">
										@if (article.Status == true)
										{
										<button asp-page-handler="SoftDelete" style="border: none; background: none">
											<p class="table-row__status status--green status">Active</p>
										</button>
										}
										else
										{
										<button asp-page-handler="Restore" style="border: none; background: none">
											<p class="table-row__status status--red status">Inactive</p>
										</button>
										}
								</td>
								<td class="table-row__td">

									<a href="/edit-article?articleId=@article.Id">
										<svg version="1.1" class="table-row__edit" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml: space="preserve" data-toggle="tooltip" data-placement="bottom" title="Edit">
											<path d="M496.063,62.299l-46.396-46.4c-21.2-21.199-55.69-21.198-76.888,0l-18.16,18.161l123.284,123.294l18.16-18.161 C517.311,117.944,517.314,83.55,496.063,62.299z" style="fill: rgb(1, 185, 209);"></path>
											<path d="M22.012,376.747L0.251,494.268c-0.899,4.857,0.649,9.846,4.142,13.339c3.497,3.497,8.487,5.042,13.338,4.143 l117.512-21.763L22.012,376.747z" style="fill: rgb(1, 185, 209);"></path>
											<polygon points="333.407,55.274 38.198,350.506 161.482,473.799 456.691,178.568" style="fill: rgb(1, 185, 209);"></polygon>
										</svg>
									</a>
									<input type="hidden" name="articleId" value="@article.Id" />
									<button type="submit" asp-page-handler="HardDelete" style="border: none; background: none">
										<svg data-toggle="tooltip" data-placement="bottom" title="Delete" version="1.1" class="table-row__bin" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
											<path d="M436,60h-90V45c0-24.813-20.187-45-45-45h-90c-24.813,0-45,20.187-45,45v15H76c-24.813,0-45,20.187-45,45v30    c0,8.284,6.716,15,15,15h16.183L88.57,470.945c0.003,0.043,0.007,0.086,0.011,0.129C90.703,494.406,109.97,512,133.396,512    h245.207c23.427,0,42.693-17.594,44.815-40.926c0.004-0.043,0.008-0.086,0.011-0.129L449.817,150H466c8.284,0,15-6.716,15-15v-30    C481,80.187,460.813,60,436,60z M196,45c0-8.271,6.729-15,15-15h90c8.271,0,15,6.729,15,15v15H196V45z M393.537,468.408    c-0.729,7.753-7.142,13.592-14.934,13.592H133.396c-7.792,0-14.204-5.839-14.934-13.592L92.284,150h327.432L393.537,468.408z     M451,120h-15H76H61v-15c0-8.271,6.729-15,15-15h105h150h105c8.271,0,15,6.729,15,15V120z" style="fill: rgb(158, 171, 180);"></path>
											<path d="M256,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C271,186.716,264.284,180,256,180z" style="fill: rgb(158, 171, 180);"></path>
											<path d="M346,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C361,186.716,354.284,180,346,180z" style="fill: rgb(158, 171, 180);"></path>
											<path d="M166,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C181,186.716,174.284,180,166,180z" style="fill: rgb(158, 171, 180);"></path>
										</svg>
									</button>
								</td>
							</tr>
							</form>
						}
					</tbody>
					<tfoot class="table__tfoot">
						<tr>
							<td colspan="8" class="tfooter">
								<nav aria-label="Page navigation example" style="float: right">
									<ul class="pagination">
										@* @if (Model.Articles.HasPreviousPage)
										{
										<li>
										<a class="page-link" asp-action="/article" asp-route-pageIndex="@(Model.Articles.PageIndex - 1)">
										<i class="fa fa-angle-left"></i>
										</a>
										</li>
										} *@
										@for (int i = 1; i <= Model.Articles.TotalPages; i++)
										{
											<li class="page-item @(Model.Articles.PageIndex == i ? "active" : "")">
												<a class="page-link" asp-route-pageIndex="@i">@i</a>
											</li>
										}
										@* 		@if (Model.Articles.HasNextPage)
										{
										<li>
										<a class="page-link next" asp-route-pageIndex="@(Model.Articles.PageIndex + 1)">
										<i class="fa fa-angle-right"></i>
										</a>
										</li>
										} *@
									</ul>
								</nav>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>


</div>

@section Scripts {
	<!-- Vendors JS -->
	<script src="~/ok/assets/vendor/libs/select2/select2.js"></script>
}