@page "/dashboard/list-account"
@using MomAndBaby.BusinessObject.Enums
@model MomAndBaby.Pages.Dashboard.Body.ListAccountModel

@section Styles {
    <link rel="stylesheet" href="~/data-table/data-table.css"  asp-append-version="true"/>
}

<main class="table" id="customers_table">
    <section class="table__header">
        <div class="input-group">

            <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="search" placeholder="Search Data...">
        </div>
        <div class="export__file">
            <form method="post">
               
                <button type="submit" for="export-file" class="btn btn-primary" title="Export File">
                    <span class="export__file-btn-content"><i class="bx bx-export me-1"></i>Export</span>
                </button>
            </form>
            
            @* <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Export As &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="~/data-table/pdf.png" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="~/data-table/json.png" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="~/data-table/csv.png" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="~/data-table/excel.png" alt=""></label>
            </div> *@
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> User Name <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                    
                    <th> Created At <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                    <th> <span class="icon-arrow"></span></th>
                </tr>
            </thead>
            <tbody>
               
                @foreach (var item in Model.Users)
                {
                        <tr> 
                            <td> @item.Id </td>
                            <td> @item.Username </td>
                            <td> @item.Email </td>
                            
                            <td> @item.CreatedAt </td>
                        
                            <td>
                            <form method="post" asp-page-handler="UpdateStatus">
                                <input type="hidden" name="userEmail" value="@item.Email" />
                                <input type="hidden" name="i" value="@Model.CurrentPage" />
                                <button type="submit" class="status delivered" style="width: 80px; border: none; @(item.Status == UserStatus.InActive.ToString() ? "background-color: yellow" : "")
                                ; @(item.Status == UserStatus.Banned.ToString() ? "background-color: red; color: white" : "")">
                                    @item.Status
                                </button>
                            </form>
                            </td>
                        <td><a asp-page="./AccountDetail" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> </td>
                            
                        </tr>
                }

            </tbody>
            <tfoot class="table__tfoot">
                <tr>
                    <td colspan="8" class="tfooter">
                        <nav aria-label="Page navigation example" style="float: right">
                            <ul class="pagination">
                                @if (Model.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-page="./ListAccount" asp-route-pageIndex="@(Model.CurrentPage - 1)">Previous</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Previous</a>
                                    </li>
                                }
                                
                                @for (var i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                        <a asp-page="./ListAccount" asp-route-pageIndex="@i" class="page-link">@i</a>
                                    </li>
                                }
                               
                                @if (Model.CurrentPage < Model.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-page="./ListAccount" asp-route-pageIndex="@(Model.CurrentPage + 1)">Next</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                }
                            </ul>

                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
</main>



@section Scripts {
    <script src="~/data-table/data-table.js" asp-append-version="true"></script>
    <!-- Page JS -->
}
