@page "/dashboard/list-account"
@model MomAndBaby.Pages.Dashboard.Body.ListAccountModel

@section Styles {
    <link rel="stylesheet" href="~/data-table/data-table.css"  asp-append-version="true"/>
}

<main class="table" id="customers_table">
    <section class="table__header">
        <div class="input-group">
            <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="search" placeholder="Search Data...">
        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File">
                <span class="export__file-btn-content"><i class="bx bx-export me-1"></i>Export</span>
            </label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Export As &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="~/data-table/pdf.png" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="~/data-table/json.png" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="~/data-table/csv.png" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="~/data-table/excel.png" alt=""></label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> User Name <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Phone Number <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Created At <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var Count = 0;
                }
                @foreach (var item in Model.Users)
                {
                        Count += 1;

                        <tr>
                            <td> {@Count += 1} </td>
                            @* <td> <img src="~/data-table/Zinzu Chan Lee.jpg" alt="">Zinzu Chan Lee</td> *@
                            <td> @item.Id </td>
                            <td> @item.Username </td>
                            <td> @item.Email </td>
                            <td> @item.PhoneNumber </td>
                            <td> @item.CreatedAt </td>
                            <td>
                                <p class="status delivered">@item.Status</p>
                            </td>
                            
                        </tr>
                }

            </tbody>
            <tfoot class="table__tfoot">
                <tr>
                    <td colspan="8" class="tfooter">
                        <nav aria-label="Page navigation example" style="float: right">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
</main>



@section Scripts {
    <script src="~/data-table/data-table.js" asp-append-version="true"></script>
    <!-- Page JS -->
}
