@page "/dashboard/order-detail"
@model MomAndBaby.Pages.Dashboard.Body.OrderDetailModel

@section Styles {
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/%40form-validation/form-validation.css" />
    <link rel="stylesheet" href="~/ok/assets/vendor/libs/select2/select2.css" />
}


    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">

        <div class="d-flex flex-column justify-content-center">
            <h5 class="mb-1 mt-3">Order# @Model.orderId <span class="badge bg-label-success me-2 ms-2">Paid</span> <span class="badge bg-label-info">@Model.Order.StatusName</span></h5>
            <p class="text-body">@Model.Order.OrderDate</p>
        </div>
       <form method="post" asp-route-id="@Model.orderId">
            <div class="d-flex align-content-center flex-wrap gap-2">
            <button type="submit" class="btn btn-label-success">Approve Order</button>
            </div>
        </form>
    </div>

    <!-- Order Details Table -->

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title m-0">Order details</h5>
                    @* <h6 class="m-0"><a href=" javascript:void(0)">Edit</a></h6> *@
                </div>
                <div class="card-datatable table-responsive">
                    <table class="datatables-order-details table">
                        <thead>
                            <tr>
                                <th class="w-50">Products</th>
                                <th class="w-25">Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                    <tbody>
                    @foreach (var order in Model.listOrders)
                    {
                        <tr>
                            <td class="product-name">
                            <h5><a href="shop-single-product.html">@order.ProductName</a></h5>
                            </td>
                            <td class="product-price"><span class="amount">$@order.Price</span></td>
                        </tr>
                    }
                    </tbody>
                    </table>
                    <div class="d-flex justify-content-end align-items-center m-3 mb-2 p-1">
                        <div class="order-calculations">
                            <div class="d-flex justify-content-between mb-2">
                                <span class="w-px-100">Discount:</span>
                                @* <span class="text-heading mb-0">$@Model.</span> *@
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="w-px-100 mb-0">Total:</h6>
                                <h6 class="mb-0">$@Model.Order.TotalAmount</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title m-0">Shipping activity</h5>
                </div>
                <div class="card-body">
                    <ul class="timeline pb-0 mb-0">
                        <li class="timeline-item timeline-item-transparent border-primary">
                            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">Order was placed (Order ID: #@Model.orderId)</h6>
                                    <span class="text-muted">@Model.Order.OrderDate</span>
                                </div>
                                <p class="mt-2">Your order has been placed successfully</p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">Order confirmation</h6>
                                    <span class="text-muted">@Model.orderTracking.OrderConfirmation</span>
                                </div>
                                <p class="mt-2">Order confirmation scheduled with courier</p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">Package</h6>
                                    <span class="text-muted">@Model.orderTracking.Package</span>
                                </div>
                                <p class="mt-2">Product will Package up by courier</p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">Package Delivery</h6>
                                    <span class="text-muted">@Model.orderTracking.Delivery</span>
                                </div>
                                <p class="mt-2">Package Delivery</p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-left-dashed">
                            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">Complete delivery</h6>
                                    <span class="text-muted">@Model.orderTracking.Complete</span>
                                </div>
                                <p class="mt-2">Package will arrive your address</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="card-title m-0">Customer details</h6>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-start align-items-center mb-4">
                        <div class="d-flex flex-column">
                            <a class="text-body text-nowrap">
                                <h6 class="mb-0">@Model.user.FullName</h6>
                            </a>
                            <small class="text-muted">Customer ID: #@Model.user.Id</small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center mb-4">
                        @* <span class="avatar rounded-circle bg-label-success me-2 d-flex align-items-center justify-content-center"><i class="bx bx-cart-alt bx-sm lh-sm"></i></span> *@
                        
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6>Contact info</h6>
                        @* <h6><a data-bs-toggle="modal" data-bs-target="#editUser">Edit</a></h6> *@
                    </div>
                    <p class=" mb-1">Email: @Model.user.Email</p>
                    <p class=" mb-0">Mobile: @Model.user.PhoneNumber</p>
                </div>
            </div>

            <div class="card mb-4">

                <div class="card-header d-flex justify-content-between">
                    <h6 class="card-title m-0">Shipping address</h6>
                    @* <h6 class="m-0"><a href=" javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addNewAddress">Edit</a></h6> *@
                </div>
                <div class="card-body">
                    <p class="mb-0">@Model.Order.ShippingAddress</p>
                </div>

            </div>
            
        </div>
    </div>

    @* <!-- Edit User Modal -->
    <div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
            <div class="modal-content p-3 p-md-5">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-4">
                        <h3>Edit User Information</h3>
                        <p>Updating user details will receive a privacy audit.</p>
                    </div>
                    <form id="editUserForm" class="row g-3" onsubmit="return false">
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditUserFirstName">First Name</label>
                            <input type="text" id="modalEditUserFirstName" name="modalEditUserFirstName" class="form-control" placeholder="John" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditUserLastName">Last Name</label>
                            <input type="text" id="modalEditUserLastName" name="modalEditUserLastName" class="form-control" placeholder="Doe" />
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="modalEditUserName">Username</label>
                            <input type="text" id="modalEditUserName" name="modalEditUserName" class="form-control" placeholder="john.doe.007" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditUserEmail">Email</label>
                            <input type="text" id="modalEditUserEmail" name="modalEditUserEmail" class="form-control" placeholder="example@domain.com" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditUserStatus">Status</label>
                            <select id="modalEditUserStatus" name="modalEditUserStatus" class="form-select" aria-label="Default select example">
                                <option selected>Status</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <option value="3">Suspended</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditTaxID">Tax ID</label>
                            <input type="text" id="modalEditTaxID" name="modalEditTaxID" class="form-control modal-edit-tax-id" placeholder="123 456 7890" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditUserPhone">Phone Number</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">+1</span>
                                <input type="text" id="modalEditUserPhone" name="modalEditUserPhone" class="form-control phone-number-mask" placeholder="202 555 0111" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditUserLanguage">Language</label>
                            <select id="modalEditUserLanguage" name="modalEditUserLanguage" class="select2 form-select" multiple>
                                <option value="">Select</option>
                                <option value="english" selected>English</option>
                                <option value="spanish">Spanish</option>
                                <option value="french">French</option>
                                <option value="german">German</option>
                                <option value="dutch">Dutch</option>
                                <option value="hebrew">Hebrew</option>
                                <option value="sanskrit">Sanskrit</option>
                                <option value="hindi">Hindi</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalEditUserCountry">Country</label>
                            <select id="modalEditUserCountry" name="modalEditUserCountry" class="select2 form-select" data-allow-clear="true">
                                <option value="">Select</option>
                                <option value="Australia">Australia</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Brazil">Brazil</option>
                                <option value="Canada">Canada</option>
                                <option value="China">China</option>
                                <option value="France">France</option>
                                <option value="Germany">Germany</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Japan">Japan</option>
                                <option value="Korea">Korea, Republic of</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Russia">Russian Federation</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Emirates">United Arab Emirates</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label class="switch">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-toggle-slider">
                                    <span class="switch-on"></span>
                                    <span class="switch-off"></span>
                                </span>
                                <span class="switch-label">Use as a billing address?</span>
                            </label>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ Edit User Modal --> *@
    <!-- Add New Address Modal -->
    @* <div class="modal fade" id="addNewAddress" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
            <div class="modal-content p-3 p-md-5">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-4">
                        <h3 class="address-title">Add New Address</h3>
                        <p class="address-subtitle">Add new address for express delivery</p>
                    </div>
                    <form id="addNewAddressForm" class="row g-3" onsubmit="return false">

                        <div class="col-12">
                            <div class="row">
                                <div class="col-md mb-md-0 mb-3">
                                    <div class="form-check custom-option custom-option-icon">
                                        <label class="form-check-label custom-option-content" for="customRadioHome">
                                            <span class="custom-option-body">
                                                <i class="bx bx-home"></i>
                                                <span class="custom-option-title">Home</span>
                                                <small> Delivery time (9am – 9pm) </small>
                                            </span>
                                            <input name="customRadioIcon" class="form-check-input" type="radio" value="" id="customRadioHome" checked />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md mb-md-0 mb-3">
                                    <div class="form-check custom-option custom-option-icon">
                                        <label class="form-check-label custom-option-content" for="customRadioOffice">
                                            <span class="custom-option-body">
                                                <i class='bx bx-briefcase'></i>
                                                <span class="custom-option-title"> Office </span>
                                                <small> Delivery time (9am – 5pm) </small>
                                            </span>
                                            <input name="customRadioIcon" class="form-check-input" type="radio" value="" id="customRadioOffice" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressFirstName">First Name</label>
                            <input type="text" id="modalAddressFirstName" name="modalAddressFirstName" class="form-control" placeholder="John" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLastName">Last Name</label>
                            <input type="text" id="modalAddressLastName" name="modalAddressLastName" class="form-control" placeholder="Doe" />
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="modalAddressCountry">Country</label>
                            <select id="modalAddressCountry" name="modalAddressCountry" class="select2 form-select" data-allow-clear="true">
                                <option value="">Select</option>
                                <option value="Australia">Australia</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Brazil">Brazil</option>
                                <option value="Canada">Canada</option>
                                <option value="China">China</option>
                                <option value="France">France</option>
                                <option value="Germany">Germany</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Japan">Japan</option>
                                <option value="Korea">Korea, Republic of</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Russia">Russian Federation</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Emirates">United Arab Emirates</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                            </select>
                        </div>
                        <div class="col-12 ">
                            <label class="form-label" for="modalAddressAddress1">Address Line 1</label>
                            <input type="text" id="modalAddressAddress1" name="modalAddressAddress1" class="form-control" placeholder="12, Business Park" />
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="modalAddressAddress2">Address Line 2</label>
                            <input type="text" id="modalAddressAddress2" name="modalAddressAddress2" class="form-control" placeholder="Mall Road" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLandmark">Landmark</label>
                            <input type="text" id="modalAddressLandmark" name="modalAddressLandmark" class="form-control" placeholder="Nr. Hard Rock Cafe" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressCity">City</label>
                            <input type="text" id="modalAddressCity" name="modalAddressCity" class="form-control" placeholder="Los Angeles" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLandmark">State</label>
                            <input type="text" id="modalAddressState" name="modalAddressState" class="form-control" placeholder="California" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressZipCode">Zip Code</label>
                            <input type="text" id="modalAddressZipCode" name="modalAddressZipCode" class="form-control" placeholder="99950" />
                        </div>
                        <div class="col-12">
                            <label class="switch">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-toggle-slider">
                                    <span class="switch-on"></span>
                                    <span class="switch-off"></span>
                                </span>
                                <span class="switch-label">Use as a billing address?</span>
                            </label>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ Add New Address Modal --> *@
@* <div class="card mb-4">
    <div class="card-widget-separator-wrapper">
        <div class="card-body card-widget-separator">
            <div class="row gy-4 gy-sm-1">
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
                        <div>
                            <h3 class="mb-2">56</h3>
                            <p class="mb-0">Pending Payment</p>
                        </div>
                        <div class="avatar me-sm-4">
                            <span class="avatar-initial rounded bg-label-secondary">
                                <i class="bx bx-calendar bx-sm"></i>
                            </span>
                        </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-4">
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
                        <div>
                            <h3 class="mb-2">12,689</h3>
                            <p class="mb-0">Completed</p>
                        </div>
                        <div class="avatar me-lg-4">
                            <span class="avatar-initial rounded bg-label-secondary">
                                <i class="bx bx-check-double bx-sm"></i>
                            </span>
                        </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none">
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
                        <div>
                            <h3 class="mb-2">124</h3>
                            <p class="mb-0">Refunded</p>
                        </div>
                        <div class="avatar me-sm-4">
                            <span class="avatar-initial rounded bg-label-secondary">
                                <i class="bx bx-wallet bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <h3 class="mb-2">32</h3>
                            <p class="mb-0">Failed</p>
                        </div>
                        <div class="avatar">
                            <span class="avatar-initial rounded bg-label-secondary">
                                <i class="bx bx-error-alt bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="table" id="customers_table">
    <section class="table__header">
        <div class="input-group">
            <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="search" placeholder="Search Data...">
        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File">
                <span class="export__file-btn-content"><i class="bx bx-export me-1"></i>Export</span>
            </label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Export As &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="~/data-table/pdf.png" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="~/data-table/json.png" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="~/data-table/csv.png" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="~/data-table/excel.png" alt=""></label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Customer <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Location <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Order Date <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Amount <span class="icon-arrow">&UpArrow;</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> <img src="~/data-table/Zinzu Chan Lee.jpg" alt="">Zinzu Chan Lee</td>
                    <td> Seoul </td>
                    <td> 17 Dec, 2022 </td>
                    <td>
                        <p class="status delivered">Delivered</p>
                    </td>
                    <td> <strong> $128.90 </strong></td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td><img src="~/data-table/Jeet Saru.png" alt=""> Jeet Saru </td>
                    <td> Kathmandu </td>
                    <td> 27 Aug, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                    <td> <strong>$5350.50</strong> </td>
                </tr>
                <tr>
                    <td> 3</td>
                    <td><img src="~/data-table/Sonal Gharti.jpg" alt=""> Sonal Gharti </td>
                    <td> Tokyo </td>
                    <td> 14 Mar, 2023 </td>
                    <td>
                        <p class="status shipped">Shipped</p>
                    </td>
                    <td> <strong>$210.40</strong> </td>
                </tr>
                <tr>
                    <td> 4</td>
                    <td><img src="~/data-table/Alson GC.jpg" alt=""> Alson GC </td>
                    <td> New Delhi </td>
                    <td> 25 May, 2023 </td>
                    <td>
                        <p class="status delivered">Delivered</p>
                    </td>
                    <td> <strong>$149.70</strong> </td>
                </tr>
                <tr>
                    <td> 5</td>
                    <td><img src="~/data-table/Sarita Limbu.jpg" alt=""> Sarita Limbu </td>
                    <td> Paris </td>
                    <td> 23 Apr, 2023 </td>
                    <td>
                        <p class="status pending">Pending</p>
                    </td>
                    <td> <strong>$399.99</strong> </td>
                </tr>
                <tr>
                    <td> 6</td>
                    <td><img src="~/data-table/Alex Gonley.jpg" alt=""> Alex Gonley </td>
                    <td> London </td>
                    <td> 23 Apr, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                    <td> <strong>$399.99</strong> </td>
                </tr>
                <tr>
                    <td> 7</td>
                    <td><img src="~/data-table/Alson GC.jpg" alt=""> Jeet Saru </td>
                    <td> New York </td>
                    <td> 20 May, 2023 </td>
                    <td>
                        <p class="status delivered">Delivered</p>
                    </td>
                    <td> <strong>$399.99</strong> </td>
                </tr>
                <tr>
                    <td> 8</td>
                    <td><img src="~/data-table/Sarita Limbu.jpg" alt=""> Aayat Ali Khan </td>
                    <td> Islamabad </td>
                    <td> 30 Feb, 2023 </td>
                    <td>
                        <p class="status pending">Pending</p>
                    </td>
                    <td> <strong>$149.70</strong> </td>
                </tr>
                <tr>
                    <td> 9</td>
                    <td><img src="~/data-table/Alex Gonley.jpg" alt=""> Alson GC </td>
                    <td> Dhaka </td>
                    <td> 22 Dec, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                    <td> <strong>$249.99</strong> </td>
                </tr>
            </tbody>
            <tfoot class="table__tfoot">
                <tr>
                    <td colspan="8" class="tfooter">
                        <nav aria-label="Page navigation example" style="float: right">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
</main>
 *@


@section Scripts {
    <!-- Vendors JS -->
    <script src="~/ok/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/ok/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/ok/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/ok/assets/vendor/libs/%40form-validation/popular.js"></script>
    <script src="~/ok/assets/vendor/libs/%40form-validation/bootstrap5.js"></script>
    <script src="~/ok/assets/vendor/libs/%40form-validation/auto-focus.js"></script>
    <script src="~/ok/assets/vendor/libs/select2/select2.js"></script>

    <!-- Page JS -->
    <script src="~/ok/assets/js/app-ecommerce-order-details.js"></script>
    <script src="~/ok/assets/js/modal-add-new-address.js"></script>
    <script src="~/ok/assets/js/modal-edit-user.js"></script>
}