@page "/dashboard/product"
@model MomAndBaby.Pages.Dashboard.Body.Product


@{
    var isUpdate = Model.ProductId != null;
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="app-ecommerce">
            <form method="post" enctype="multipart/form-data">
                <!-- Add Product -->
                <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">

                    <div class="d-flex flex-column justify-content-center">
                        <h4 class="mb-1 mt-3"> @(isUpdate ? "Update Product" : "Add a new Product")</h4>
                        <p class="text-muted">Orders placed across your store</p>
                    </div>
                    <div class="d-flex align-content-center flex-wrap gap-3">
                        <button asp-page-handler="Cancel" class="btn btn-label-secondary">Discard</button>
                        @if (isUpdate)
                        {
                            <button asp-page-handler="Hidden" class="btn btn-info">Hidden</button>
                            <button asp-page-handler="SaveDraft" class="btn btn-label-primary">Save draft</button>
                            <button asp-page-handler="Update" type="submit" class="btn btn-primary">Publish product</button>
                            <input type="hidden" asp-for="ProductDto.Id"/>
                            <input type="hidden" asp-for="ProductDto.Image"/>
                        }
                        else
                        {
                            <button asp-page-handler="Create" type="submit" class="btn btn-primary">Publish product</button>
                        }
                    </div>

                </div>

                <div class="row">

                    <!-- First column-->
                    <div class="col-12 col-lg-8">
                        <!-- Product Information -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5 class="card-tile mb-0">Product information</h5>
                            </div>
                            @* <div asp-validation-summary="All" class="text-danger"></div> *@
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label" for="ecommerce-product-name">Name</label>
                                    <input type="text" asp-for="ProductDto.Name" class="form-control" id="ecommerce-product-name" placeholder="Product title">
                                    <span asp-validation-for="ProductDto.Name" class="text-danger"></span>
                                </div>
                                <!-- Description -->
                                <div class="mb-3">
                                    <label class="form-label" for="ecommerce-category-description">Description</label>
                                    <input type="text" asp-for="ProductDto.Description" class="form-control" id="ecommerce-category-description" placeholder="Description">
                                    <span asp-validation-for="ProductDto.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /Product Information -->
                        <!-- Media -->
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="mb-0 card-title">Picture</h5>
                                <span asp-validation-for="ProductDto.ImageFile" class="text-danger"></span>
                            </div>
                            <div class="file-upload d-flex flex-column justify-content-center align-items-center">
                                @if (isUpdate)
                                {
                                    <label class="form-label">Current Image</label>
                                    <img src="@Model.ProductDto.Image" alt="Current Image" style="display: block; max-width: 200px; max-height: 200px;"/>

                                    <label class="form-label" style="margin-top: 20px;">New Image</label>
                                }

                                <img id="preview" src="#" alt="Image preview" style="display: none; max-width: 200px; max-height: 200px;"/>

                                <div class="dz-message needsclick my-5">
                                    <span class="note needsclick btn bg-label-primary d-inline" id="btnBrowse" style="cursor: pointer;">Browse image</span>
                                </div>

                                <div class="fallback" style="display: none;">
                                    <input asp-for="ProductDto.ImageFile" type="file" id="fileInput" class="file-input" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <!-- /Media -->

                    </div>
                    <!-- /Second column -->
                    <!-- Second column -->
                    <div class="col-12 col-lg-4">
                        <!-- Pricing Card -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Pricing & Stock</h5>
                            </div>
                            <div class="card-body">
                                <!-- Base Price -->
                                <div class="mb-3">
                                    <label class="form-label" for="ecommerce-product-price">Base Price (VND)</label>
                                    <input asp-for="ProductDto.UnitPrice" type="number" class="form-control" id="ecommerce-product-price" placeholder="Price">
                                    <span asp-validation-for="ProductDto.UnitPrice" class="text-danger"></span>
                                </div>
                                <!-- Sell Price -->
                                <div class="mb-3">
                                    <label class="form-label" for="ecommerce-product-discount-price">Sell Price (VND)</label>
                                    <input asp-for="ProductDto.PurchasePrice" type="number" class="form-control" id="ecommerce-product-discount-price" placeholder="Sell Price">
                                    <span asp-validation-for="ProductDto.PurchasePrice" class="text-danger"></span>
                                </div>
                                <!-- In Stock -->
                                <div class="mb-3">
                                    <label class="form-label" for="ecommerce-product-stock">In Stock</label>
                                    <input asp-for="ProductDto.Stock" type="number" class="form-control" id="ecommerce-product-stock" placeholder="In Stock">
                                    <span asp-validation-for="ProductDto.Stock" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /Pricing Card -->
                        <!-- Organize Card -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Organize</h5>
                            </div>
                            <div class="card-body">
                                <!-- Category -->
                                <div class="mb-3 col ecommerce-select2-dropdown">
                                    <label class="form-label mb-1 d-flex justify-content-between align-items-center" for="category-org">
                                        <span>Category</span><a data-bs-toggle="modal" data-bs-target="#myModal" class="fw-medium" style="color: blue;" onmouseover="this.style.cursor='pointer'; this.style.color='darkblue';" onmouseout="this.style.color='blue';">Add new category</a>
                                    </label>
                                    <select asp-for="ProductDto.CategoryId" id="category-org" class="select2 form-select" data-placeholder="Select Category">
                                        <option value="null">Select Category</option>
                                        @foreach (var category in @Model.Categories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ProductDto.CategoryId" class="text-danger"></span>

                                </div>
                                <!-- Collection -->
                                <div class="mb-3 col ecommerce-select2-dropdown">
                                    <label class="form-label mb-1">
                                        Brand
                                    </label>
                                    <input asp-for="ProductDto.Company" type="text" class="form-control" placeholder="Brand">
                                    <span asp-validation-for="ProductDto.Company" class="text-danger"></span>
                                </div>
                                <!-- Status -->
                                <div class="mb-3 col ecommerce-select2-dropdown">
                                    <label class="form-label mb-1">
                                        Country
                                    </label>
                                    <input asp-for="ProductDto.Original" type="text" class="form-control" placeholder="Country">
                                    <span asp-validation-for="ProductDto.Original" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /Organize Card -->
                    </div>
                    <!-- /Second column -->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- /Add Category Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">New Category</h5>
                <button type="button" class="close border-none bg-transparent" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="category-form">
                    <div class="form-group">
                        <label class="form-label mb-1">
                            Category
                        </label>
                        <input asp-for="CategoryName" type="text" class="form-control mb-4" placeholder="Category">
                    </div>
                    <button type="submit" id="save-button" asp-page-handler="CreateCategory" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /Toast -->

<div aria-live="polite" aria-atomic="true" style=" position: fixed; top: 16px; left: 50%; transform: translateX(-50%);  padding: 16px; z-index: 1050; min-height: 50px;">
    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header flex items-center justify-between">
            <strong class="mr-auto text-lg" id="toast-title"></strong>
        </div>
        <div class="toast-body text-danger mt-2" id="toast-body"></div>
    </div>
</div>
    
<script>
    document.addEventListener('DOMContentLoaded', function () {

        let errorMessage = '@TempData["CategoryValid"]';

        if (errorMessage) {

            document.getElementById('toast-title').innerText = 'Category Validation';
            document.getElementById('toast-body').innerText = errorMessage;
            
            let toast = new bootstrap.Toast(document.getElementById('toast'), {
                delay: 1000, 
                autohide: true
            });
            toast.show();
        }
    
        document.getElementById('btnBrowse').addEventListener('click', function() {
            document.getElementById('fileInput').click();
        });

        document.getElementById('fileInput').addEventListener('change', function(event) {
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var img = document.getElementById('preview');
                    img.src = e.target.result;
                    img.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    });
    
</script>