@using MomAndBaby.Models.ProductModel
@model ProductStoreModel


<!--== Start Product Tab Area Wrapper ==-->
<section class="product-area product-style2-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                    <h2 class="title">Trending Product</h2>
                    <div class="desc">
                        <p>Explore our trending products, chosen for their popularity and outstanding reviews. Stay updated with the latest must-haves in tech, fashion, and home essentials. Don't miss out on the top trends and enjoy our curated selection.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-tab1-slider" data-aos="fade-up" data-aos-duration="1500">
                    @foreach (var product in Model.ListTrendingProduct)
                    {
                        <div class="slide-item">
                            <!-- Start Product Item -->
                            <div class="product-item">
                                <div class="product-thumb">
                                    <img src="@product.Image" alt="Image">
                                    <div class="product-action">
                                        <a asp-page="ProductDetailPage" asp-route-productId="@product.Id">
                                            <i class="ion-arrow-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="rating">
                                        @{
                                            double? averageStar = product.Statistic.AverageStar;
                                            int fullStars = (int)averageStar; // Number of full stars
                                            bool hasHalfStar = (averageStar - fullStars) >= 0.5; // Check if there is a half star
                                            int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); // Calculate the number of empty stars
                                        }
                                        @if (averageStar > 0)
                                        {
                                            @for (int i = 0; i < fullStars; i++)
                                            {
                                                <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            }
                                            @if (hasHalfStar)
                                            {
                                                <span class="fa fa-star-half-alt" style="text-shadow: 0 0 1px black"></span>
                                            }
                                            @for (int i = 0; i < emptyStars; i++)
                                            {
                                                <span class="fa fa-star" style="color: white; text-shadow: 0 0 1px black"></span>
                                            }
                                            <h4>@Math.Round((double)product.Statistic.AverageStar, 1)</h4>
                                        }
                                        else
                                        {
                                            <h4>No Review</h4>
                                        }
                                    </div>
                                    <h4 class="title">
                                        <a asp-page="ProductDetailPage" asp-route-productId="@product.Id">@product.Name</a>
                                    </h4>
                                    <div class="prices">
                                        <span class="price">$@product.PurchasePrice</span>
                                        <h4>
                                            @product.Statistic.TotalPurchase <span class="fa fa-shopping-cart"></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Item -->
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Product Tab Area Wrapper ==-->