@page "/order-detail"
@model MomAndBaby.Pages.Main.Body.OrderDetail

@{
    ViewData["Title"] = "Order Details";
    decimal totalPrice = 0;
    int totalQuantity = 0;
}

<main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 m-auto">
                    <div class="page-title-content text-center">
                        <h2 class="title">Order Details</h2>
                        <div class="bread-crumbs"><a href="index.html">Home</a><span class="breadcrumb-sep"> //
                            </span><span class="active">Order Details</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Cart Area Wrapper ==------------------------------------------------------------------------------>
    <section class="product-area cart-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="section-title text-center">
                        <h2 class="title">Order Details</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table-wrap">
                        <div class="cart-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="width-thumbnail"></th>
                                        <th class="width-name">Product</th>
                                        <th class="width-price">Price(VND)</th>
                                        <th class="width-quantity">Quantity</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model.listOrders)
                                    {
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="/product_detail?productId=@order.ProductId">
                                                    <img src="@order.ProductImage" alt="Image">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <h5><a href="/product_detail?productId=@order.ProductId">@order.ProductName</a></h5>
                                            </td>
                                            <td>
                                                <span>@order.Price.ToString("N0")</span>
                                            </td>
                                            <td class="cart-quality">
                                                <div class="product-details-quality">
                                                    <span>@order.Quantity</span>
                                                </div>
                                            </td>
                                            @{
                                                totalPrice += order.Price * order.Quantity;
                                                totalQuantity += order.Quantity;
                                            }
                                        </tr>
                                    }
                                    
                                </tbody>
                                <tfoot >
                                    <tr>
                                        <td colspan="2" class="product-thumbnail text-center">
                                            <strong>=> Total</strong>
                                        </td>
                                        <td class="product-price" style="padding: 23px"><span class="amount">@totalPrice.ToString("N0")</span></td>
                                        <td class="product-price" style="padding: 23px"><span class="amount">@totalQuantity.ToString("N0")</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Start tracking Area Wrapper ==------------------------------------------------------------------------------>

    <section class="product-area cart-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="section-title text-center">
                        <h2 class="title">Order Tracking</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table-wrap">
                        <div class="cart-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="width-thumbnail">OrderID</th>
                                        <th class="width-quantity">OrderConfimation</th>
                                        <th class="width-quantity">Package</th>
                                        <th class="width-quantity">Delivery</th>
                                        <th class="width-quantity">Complete</th>
                                         @if(Model.StatusOrder == 6)
                                        {
                                            <th class="width-quantity">Status</th>
                                        } else if (Model.orderTracking?.Delivery == null)
                                        {
                                            <th class="width-quantity">Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>@Model.orderTracking.OrderId</td>
                                        <td class="product-price"><span class="amount text-15px">@Model.orderTracking?.OrderConfirmation</span></td>
                                        <td class="product-price"><span class="amount text-15px">@Model.orderTracking?.Package</span></td>
                                        <td class="product-price"><span class="amount text-15px">@Model.orderTracking?.Delivery</span></td>
                                        <td class="product-price"><span class="amount text-15px">@Model.orderTracking?.Complete</span></td>

                                         @if (Model.StatusOrder == 6)
                                        {
                                            <td class="product-price"><span class="amount text-15px">Canceled</span></td>
                                        } else if (Model.orderTracking?.Delivery == null)
                                        {
                                            <td>
                                                <form method="post">
                                                    <input type="hidden" name="orderId" value="@Model.orderTracking?.OrderId" />
                                                    <button class="btn btn-secondary">Cancel Order</button>
                                                </form>
                                            </td>
                                        }

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="cart-shiping-update-wrapper">
                        <div class="cart-shiping-btn continure-btn">
                            <a class="btn btn-link" href="myaccount"><i class="ion-ios-arrow-left"></i> Back To My
                                Account</a>
                        </div>
                        <div class="cart-shiping-btn update-btn">
                            <a class="btn btn-link" href="shop"><i class="ion-ios-reload"></i> Back To Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Cart Area Wrapper ==-->
</main>
