@page "/shopping"
@using MomAndBaby.BusinessObject.Constants
@using MomAndBaby.BusinessObject.Enums
@using MomAndBaby.Utilities.Helper
@model MomAndBaby.Pages.Main.Body.ProductShoppingModel

<style>
    .sort-option.active {
        background-color: hotpink !important;
    }

    .selected-category {
        color: hotpink !important;
    }

    .category-link {
        color: dimgray;
        /* Make it look like a link */

        cursor: pointer;
        /* Show a hand cursor on hover */
    }

    .category-link:hover {
        color: hotpink;
        /* Change color on hover for visual feedback */
    }

    .selected-company {
        color: hotpink !important;
    }

    .company-link {
        color: dimgray;
        /* Make it look like a link */

        cursor: pointer;
        /* Show a hand cursor on hover */
    }

    .company-link:hover {
        color: hotpink;
        /* Change color on hover for visual feedback */
    }


    .selected-original {
        color: hotpink !important;
    }

    .original-link {
        color: dimgray;
        /* Make it look like a link */

        cursor: pointer;
        /* Show a hand cursor on hover */
    }

    .original-link:hover {
        color: hotpink;
        /* Change color on hover for visual feedback */
    }
</style>

<link rel="stylesheet" href="~/main/assets/css/price-slider.css" asp-append-version="true" />

<main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 m-auto">
                    <div class="page-title-content text-center">
                        <h2 class="title">Product</h2>
                        <div class="bread-crumbs"><a href="index.html"> Home </a><span class="breadcrumb-sep"> //
                            </span><span class="active"> Product</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Title Area ==-->
    <!--== Start Shop Area Wrapper ==-->
    <div class="product-area product-grid-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-0 order-lg-1">
                    <div class="shop-toolbar-wrap">
                        <div class="product-showing-status">
                            <p class="count-result"><span
                                    id="filtered-products-count">@Model.FilteredProductsCount</span> Product Found of
                                <span id="total-products-count">@Model.TotalProductsCount</span></p>
                        </div>



                        <div class="product-sorting-menu product-sorting">
                            <span class="current">Sort By : <span id="current-sort"> Default <i
                                        class="fa fa-angle-down"></i></span></span>
                            <!-- <div class="sorting"> -->
                            <ul id="sort-options">
                                <li><a data-sort="Default" class="sort-option active">Sort by Default</a></li>
                                <li><a data-sort="Purchases" class="sort-option">Sort by Purchases</a></li>
                                <li><a data-sort="Star" class="sort-option">Sort by Star</a></li>
                                <li><a data-sort="Date" class="sort-option">Sort by Date</a></li>
                                <li><a data-sort="IncreasePrice" class="sort-option">Sort by Increasing Price</a></li>
                                <li><a data-sort="DecreasePrice" class="sort-option">Sort by Decreasing Price</a></li>

                            </ul>
                            <!-- </div> -->
                        </div>


                    </div>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="column-three" role="tabpanel"
                            aria-labelledby="column-three-tab">
                            <div class="row" id="product-list">
                                

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @if (Model.FilteredProductsCount > 9)
                            {
                                <div class="pagination-area mb-md-50">
                                    <nav>
                                        <ul class="page-numbers justify-content-end">
                                            @{

                                                double divisionResult = (double)Model.TotalProductsCount / 9;
                                                int totalPages = (int)Math.Ceiling(divisionResult);
                                                int currentPage = 1;

                                                for (int i = 1; i <= totalPages; i++)
                                                {
                                                    <li>
                                                        <a class="page-number @(i == currentPage ? "active" : "")"
                                                            data-page="@i">@i</a>
                                                    </li>
                                                }
                                                if (totalPages > 1 && currentPage < totalPages)
                                                {
                                                    <li>
                                                        <a class="page-number next">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-1 order-lg-0">
                    <div class="sidebar-area shop-sidebar-area">
                        <div class="widget-item">
                            <div class="widget-title">
                                <h3 class="title">Product Categories</h3>
                            </div>
                            <div class="widget-body">
                                <div class="widget-categories">
                                    <ul>
                                        @foreach (var item in Model.ProductCategoryDto)
                                        {
                                            <li><span class="category-link" data-category-id="@item.Id">@item.Name
                                                    <span>(@item.NumberOfProduct)</span></span></li>
                                        }


                                    </ul>
                                </div>
                            </div>
                        </div>
                       @*  <div class="widget-item">
                            <div class="widget-title">
                                <h3 class="title">Product Company</h3>
                            </div>
                            <div class="widget-body">
                                <div class="widget-categories">
                                    <ul>
                                        @foreach (var item in Model.ProductCompanyDto)
                                        {
                                            <li>
                                                <span class="company-link" data-company-name="@item.Name">
                                                    @item.Name
                                                    <span>(@item.NumberOfProduct)</span>
                                                </span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div> *@

                        <div class="widget-item">
                            <div class="widget-title">
                                <h3 class="title">Product Original</h3>
                            </div>
                            <div class="widget-body">
                                <div class="widget-categories">
                                    <ul>
                                        @foreach (var item in Model.ProductOriginalDto)
                                        {
                                            <li>
                                                <span class="original-link" data-original-name="@item.Name">
                                                    <img src="@item.Image" alt="@item.Name flag" style="width: 20px; height: auto;" /> @item.Name
                                                   
                                                </span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="widget-filter">
                                <div class="widget-title">
                                    <h3 class="title">Price Search (VND)</h3>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-price-filter">
                                        <form action="#" method="post"> 
                                        @* <input type="text" id="searchFrom" value="" placeholder="From">
                                        <span>-</span>
                                        <input type="text" id="searchTo" value="" placeholder="To"> *@
                                        @* <button type="submit" class="btn-src">
                                            <i class="pe-7s-search"></i>
                                        </button> *@

                                        <div class="price-input">
                                            <div class="field">
                                                <input type="number" id="searchFrom" class="input-min" value="0">
                                            </div>
                                            <div class="separator">-</div>
                                            <div class="field">
                                                <input type="number" id="searchTo" class="input-max" value="400000">
                                            </div>
                                        </div>
                                        <div class="slider">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="range-input">
                                            <input type="range" class="range-min" min="0" max="1000" value="0" step="10">
                                            <input type="range" class="range-max" min="0" max="10000000" value="400000" step="10">
                                        </div>

                                            <button type="submit" class="btn-src" style="margin-top: 1rem;">
                                                <i class="pe-7s-search"></i>
                                            </button>

                                        </form>
                                            
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget-item mb-md-0">
                            <div class="widget-title">
                                <h3 class="title">Star</h3>
                            </div>
                            <div class="widget-body">
                                <div class="widget-size">
                                    <div class="form-check">
                                        <input class="form-check-input black" type="radio" name="colorRadio2"
                                            id="colorRadio5">
                                        <label class="form-check-label" for="colorRadio5"><span class="fa fa-star"
                                                style="text-shadow: 0 0 1px black"></span></label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input black" type="radio" name="colorRadio2"
                                            id="colorRadio6">
                                        <label class="form-check-label" for="colorRadio6">
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>

                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input black" type="radio" name="colorRadio2"
                                            id="colorRadio7">
                                        <label class="form-check-label" for="colorRadio7">
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input black" type="radio" name="colorRadio2"
                                            id="colorRadio8">
                                        <label class="form-check-label" for="colorRadio8">
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input black" type="radio" name="colorRadio2"
                                            id="colorRadio9">
                                        <label class="form-check-label" for="colorRadio9">
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                            <span class="fa fa-star" style="text-shadow: 0 0 1px black"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Shop Area Wrapper ==-->


</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script asp-append-version="true">
        RoleId = "@(User.Claims.FirstOrDefault(u => u.Type.Equals(UserClaimType.Role)) == null ? 0 : User.Claims.FirstOrDefault(u => u.Type.Equals(UserClaimType.Role))?.Value)";
        
    </script>
    <script src="~/js/product-shopping.js" asp-append-version="true"></script>

    <script src="~/main/assets/js/price-slider.js" asp-append-version="true"></script>
}
